.container {
  height: 8rem;
  width: 6rem;
  background: red;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  img {
    height: 5rem;
    width: 5rem;
  }
  &::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    background: #fff000;
    bottom: -10px;
  }
}
